<div class="jumbotron welcome">
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
	  <header class="masthead mb-auto">
	  </header>

	  <main role="main" class="inner cover text-center">
	    <h1 class="cover-heading">Donkey Note<h1>
	    <p class="lead">Where Donkey's take their notes</p>
	    <p class="lead">
		<% if user_signed_in? %>
			<%= link_to "Notes", notes_path, class: "btn btn-primary" %>
		<% else %>

		<%= link_to "Get Started", notes_path, class: "btn btn-lg btn-primary" %>
		<% end %>
	    </p>
	  </main>
	</div>
</div>
